{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{{ block.super }} - {% trans "About us" %}{% endblock %}

{% block content %}
  <div class="container px-6 mt-4 mx-auto grid">
    <div class="items-center justify-center p-6 bg-white rounded-lg">
      <div class="w-full">
        <h1 class="mb-4 mt-6 text-lg font-medium text-gray-700{% comment %}  dark:text-gray-200{% endcomment %}">
          {{ category.name }}
        </h1>
        <ol>
          {% for child_category in category.get_descendants %}
          <li class="mt-4">
            <h2 class="mb-4 mt-6 text-lg font-medium text-gray-700{% comment %}  dark:text-gray-200{% endcomment %}">
              {{ child_category.name }}
            </h2>
            <p class="mt-4">
              {{ child_category.description|safe }}
            </p>
          </li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
{% endblock %}
