{% extends "account/base_dark_with_body.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
  <h1 class="mb-4 text-xl font-semibold">
    {% trans "Sign Out" %}</h1>
  <p>{% trans 'Are you sure you want to sign out?' %}</p>
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
            type="submit">
      {% trans 'Sign Out' %}
    </button>
  </form>
{% endblock %}
