{% extends "account/base_dark_with_body.html" %}

{% load i18n %}

{% block head_title %}{{ block.super }} - {% trans "Change Password" %}{% endblock %}

{% block content %}
  <h1 class="mb-4 text-xl font-semibold">{% trans "Change Password" %}</h1>

  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
            type="submit" name="action">
      {% trans "Change Password" %}
    </button>
    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </form>
{% endblock %}
