{% extends "account/base_dark_with_body.html" %}

{% load i18n %}

{% block head_title %}{{ block.super }} - {% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
  <h1 class="mb-4 text-xl font-semibold">{% trans "Sign Up Closed" %}</h1>

  <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>

  <hr class="my-8"/>

  <p class="mt-1">
    <a class="text-sm font-medium text-gray-600 {% comment %}dark:text-purple-400{% endcomment %} hover:underline"
       href="{% url 'account_login' %}">
      {% blocktrans %}Go back to Login page{% endblocktrans %}
    </a>
  </p>
{% endblock %}
