{% extends "account/base_dark_with_body.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
  <h1 class="mb-4 text-xl font-semibold">{% trans "Verify Your E-mail Address" %}</h1>

  <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup
    process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

  <hr class="my-8"/>

  <p class="mt-1">
    <a class="text-sm font-medium text-gray-600 {% comment %}dark:text-purple-400{% endcomment %} hover:underline"
       href="{% url 'account_login' %}">
      Go back to Login page
    </a>
  </p>


{% endblock %}
