{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{{ block.super }} - {% trans "Dashboard" %}{% endblock %}


{% block content %}
  <div class="container px-6 mt-4 mx-auto grid">
  <div class="items-center justify-center p-6 bg-white rounded-lg">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      {% trans "Dashboard" %}
    </h2>
    {# Cards #}
    <div class="w-full overflow-hidden rounded-lg shadow-xs">
      <div class="w-full overflow-x-auto">
        {% if categories %}
          <table class="w-full whitespace-no-wrap">
            <thead>
            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
              <th class="px-4 py-3">{% trans "Learning resources" %}</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            {% for category in categories %}
              <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3 text-sm">
                  <a href="{{ category.get_absolute_url }}">{{ category.full_name }}</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% endif %}
        {% if quizzes %}
          <table class="w-full whitespace-no-wrap">
            <thead>
            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
              <th class="px-4 py-3">{% trans "Quizzes" %}</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            {% for quiz in quizzes %}
              <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3">
                  <div class="flex items-center text-sm">
                    <div>
                      <p class="font-semibold">
                        <a href="{% url 'home:practice-start' quiz.uuid %}">
                          {{ quiz.title }}
                        </a>
                      </p>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
  </div>
  </div>
{% endblock %}
