{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{{ block.super }} - {{ quiz.title }} - {% trans "Practice" %}{% endblock %}

{% block content %}
  <div class="container px-6 mt-4 mx-auto grid">
    <div class="items-center justify-center p-6 bg-white rounded-lg shadow-md">
      <div class="w-full">
        <div class="mb-4 text-xl text-gray-700{% comment %}  dark:text-gray-200{% endcomment %}">
          {{ quiz.title }} ({{ quiz_attempt.total_questions }} {% trans "Questions" %})
        </div>
        <hr class="my-2"/>
        <h1 class="mb-4 mt-6 text-lg font-medium text-gray-700{% comment %}  dark:text-gray-200{% endcomment %}">
          {{ quiz_attempt.current_question_number }}. {{ quiz_attempt_question.sentence.text }}
        </h1>

        <form method="POST" action="{% url 'home:practice-home' quiz.uuid quiz_attempt.uuid %}">
          {% csrf_token %}
          <input type=hidden name="question_id" value="{{ quiz_attempt_question.id }}">
          {% if form.choices %}
            <div class="mt-2">
              {% for choice in form.choices.field.queryset %}
                <label class="block text-gray-600 dark:text-gray-400">
                  <input class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                         type="radio"
                         name="choices"
                         value="{{ choice.id }}">
                  <span class="ml-2">
              {{ choice.sentence.text }}
            </span>
                </label>
              {% endfor %}
            </div>
          {% endif %}

          {% if form.non_field_errors %}
            <label class="block mt-4 text-sm">
              {% for error in form.non_field_errors %}
                <span class="text-xs text-gray-700{% comment %} dark:text-gray-400{% endcomment %}">
                  {{ error }}
                </span>
              {% endfor %}
            </label>
          {% endif %}
          <button class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
            {% trans "Submit" %}
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
